*{
    font-family: sans-serif;
}

.main-header{
    background-color: #080705;
}

#main-title{
    color: #FCFCFC;
    margin: 0;
    padding-left: 50px;
}

body{
    margin: 0;
}

img{
    height: 125px;
    width: 100%;
    object-fit: cover;
    
}

#about-me h1{
    padding-left: 20px;
}

#about-me-container{
    max-width: 33%;
    padding-top: 50px;
    padding-left: 30%;
}

#about-me{
    display: flex;
}

#pfp{
    order: -1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: 25px;
}

#about-me-text{
    padding-left: 90px;
    max-width: 700px;
    color: rgb(59, 59, 59);
}

#about-me-text h3{
    margin-top: -50px;
}

#about-me-text ul{
    list-style-type: none;
}

#contact-details{
    display: flex;
    padding-left: 80px;
}

#contact-details img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.portfolioContainer{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    margin-top: 100px;
}

.pane{
    width: 70px;
    height: 100px;
    background-color: grey;
    margin-right: 30px;
}