* {
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2, input{
    color: white;
    font-weight: lighter;
}

.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0065ad;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
}

.hourly-rate-container, .days-worked-container, .friOT-worked-container, .satOT-worked-container{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%; 
    height: auto; 
    margin: 10px 0; 
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

input {
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #2c99ec;
    text-align: center;
    border-radius: 4px;
}

.input-box {
    width: 100%;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.calculate-salary{
    width: 19rem;
    height: 50px;
    margin-top: 1rem;
    max-width: 300px; 
    background-color: #2c99ec;
    border: none;
    font-size: 16px;
    color: white; 
    border-radius: 4px;
    cursor: pointer;
}
#totalPay{
    margin-top: 1rem;
}
#preTaxPay{
    color: orange;
}
#nIDeduct{
    color: red;
}
#taxDeduct{
    color: red;
}

.show-salary-container{
    display: flex;
    height: 250px;
    width: 300px;
    border: 3px solid white;
    z-index: 1;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: #2c99ec;
}
.show-salary-container > h2{
    margin-top: 1rem;
    color: lightgreen;
}
.backButton{
    width: 100%;
    margin-top: 1rem;
    font-size: 16px;
    background-color: #0065ad;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .container {
        min-width: 100%; 
        padding: 10px; 
    }

    input {
        font-size: 16px; 
        height: 40px; 
    }

    .calculate-salary {
        height: 60px;
    }
}
