* {
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, input{
    color: white;
    font-weight: lighter;
}

.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0065ad;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #1871b5;
    box-shadow: 5px 5px #434343;
}

.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%; 
    height: auto; 
    margin: 10px 0; 
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

input {
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #2c99ec;
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    display: block;
    width: 100%;
}

.input-box {
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    text-align: center;
}

.btn{
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 300px; 
    background-color: #2c99ec;
    border: 2px solid black;
    font-size: 16px;
    color: white; 
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: #4ea5e8;
    animation: background-color 0.5s ease-in-out;
    color: rgb(220, 220, 220)
}

#totalPay{
    margin-top: 1rem;
    color: lightgreen;
}
#preTaxPay{
    color: orange;
}
#nIDeduct, #taxDeduct, #pension{
    color: red;
}

.show-salary-container{
    display: flex;
    width: 300px;
    border: 3px solid black;
    z-index: 1;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: #2c99ec;
}
.show-salary-container > h2{
    margin-top: 1rem;
}
.backButton{
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 16px;
    background-color: #0065ad;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .container {
        min-width: 95%; 
        padding: 10px; 
    }

    input {
        font-size: 16px; 
        height: 24px; 
    }

    .calculate-salary {
        height: 60px;
    }
}

.shake{
    animation: shake 0.5s ease-in-out;
    background-color: #e04a3f;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}