*{
    font-family:Arial, Helvetica, sans-serif;
}

input, h2, h1, p, a, select, button, ::placeholder{
    color: white;
    opacity: 1;
}

input, select, button{
    background-color: #2c99ec;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    height: 32px;
}

body{
    background-color: #0065ad;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.heading{
    text-align: center;
}

.post-container{
    width: 60%;
    margin: auto;
    text-align: center;
}

.post-container > p{
    display: inline;
}

.post-container > p{
    margin-top: -1rem;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button-container > form > input{
    width: 100px;
}

.new-post-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 2rem;
}

.new-post-container button, select{
    width: 30%;
}

input{
    width: 29.5%;
}

.tyre-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.tyre-details p {
    margin: 5px 0;
    white-space: pre;
}

@media (max-width: 700px){
    .new-post-container > *{
        width: 80%;
    }
    input{
        min-width: 78%;
    }
    
}